{% extends "layouts/base.html" %}

{% block title %} User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="/static/assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="/static/assets/img/juming_400x400.jpg" alt="...">
              <h5 class="title">
                Juming Lai
              </h5>
            </a>
            <p class="description">
              juming.lai@berkeley.edu
            </p>
          </div>
          <p class="description text-center">
            <b>
             Subject Matter Expert  <br>
             Product Management<br>
             Landing WebPage Dev
            </b>
          </p>
        </div>
        <hr>
        <!--
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
        -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="/static/assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="/static/assets/img/ThomasPhoto.png" alt="...">
              <h5 class="title">
                Thomas Gao
              </h5>
            </a>
            <p class="description">
              tgao@ischool.berkeley.edu
            </p>
          </div>
          <p class="description text-center">
            <b>
             Project Manager <br>
             Scenario Prep and Model Validation<br>
             Model Training
            </b>
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="/static/assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="/static/assets/img/LuisPhoto.png" alt="...">
              <h5 class="title">
                Luis Chion
              </h5>
            </a>
            <p class="description">
              lmchion@ischool.berkeley.edu
            </p>
          </div>
          <p class="description text-center">
            <b>
             Model Training <br>
             Model Validation <br>
             UI mockup
            </b>
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="/static/assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="/static/assets/img/Rakesh1.jpg" alt="...">
              <h5 class="title">
                Rakesh Walisheter
              </h5>
            </a>
            <p class="description">
              rakeshw@ischool.berkeley.edu
            </p>
          </div>
          <p class="description text-center">
            <b>
              Model Training <br>
              Model Validation <br>
              Backend Integration
            </b>
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="/static/assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="/static/assets/img/VisPhoto.png" alt="...">
              <h5 class="title">
                Viswanathan Thiagarajan
              </h5>
            </a>
            <p class="description">
              viswanathan@ischool.berkeley.edu
            </p>
          </div>
          <p class="description text-center">
            <b>
              Deployment and Infrastructure <br>
              API Development <br>
              Frontend framework and integration
            </b>
          </p>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="/static/assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="/static/assets/img/SriniPhoto.png" alt="...">
              <h5 class="title">
                Srinivas Jakka
              </h5>
            </a>
            <p class="description">
              jakkas@ischool.berkeley.edu
            </p>
          </div>
          <p class="description text-center">
            <b>
              Frontend Development<br>
              Integration Test<br>
            </b>
          </p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}